@page
@model BeFit_Website.Pages.Admin.AdminHomeModel
@{
    <div class="text-center">
        <a class="btn btn-outline-primary" asp-page="/Admin/ManageUsers">Manage Users</a>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-primary" asp-page="/Admin/ManageFeedbacks">Manage Feedbacks</a>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-primary" asp-page="/UserInfo/Login">Logout</a>
    </div>
}
