@page
@model BeFit_Website.Pages.Admin.DeleteFeedbacksModel
@{
    <head>
        <style>
            .container {
                width: 500px;
                overflow: hidden;
                /*background: #fff;*/
                border-radius: 10px;
                box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
                margin: auto;
            }

            .post header {
                font-size: 22px;
                font-weight: 600;
                text-align: center;
                padding: 17px 0;
                border-bottom: 1px solid #bfbfbf;
            }

            .post form {
                margin: 20px 25px;
            }

                .post form .content {
                    display: flex;
                    align-items: center;
                }

                    .post form .content img {
                        max-width: 52px;
                    }

                    .post form .content .details {
                        margin: -3px 0 0 12px;
                    }

            form :where(input, button) {
                width: 100%;
                outline: none;
                border: none;
            }

            form input {
                resize: none;
                font-size: 18px;
                margin-top: 5px;
                min-height: 100px;
            }

            .delete {
                width: 10%;
            }

            form button {
                height: 53px;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                cursor: pointer;
                color: #BCC0C4;
                border-radius: 7px;
                background: #e2e5e9;
                transition: all 0.3s ease;
            }

            form button {
                color: #fff;
                background: #4599FF;
            }

                form button:hover {
                    background: #1a81ff;
                }
        </style>
    </head>
    <body>
        @foreach (var obj in Model.feedbackList)
        {
            <div class="container">
                        <form method="post" class="align-content-center col-6 w-25" enctype="multipart/form-data">
                            <button class="delete" type="submit" asp-page-handler="DeleteFeedback" asp-route-itemid=@obj.Id>❌</button>
                        </form>
                <div class="wrapper">
                    <section class="post">
                        <form>
                            <div class="content">
                                <img src="@obj.FeedbackUser.ProfileUrl" style="border-radius: 50%">
                                <div class="details">
                                    <p>@obj.FeedbackUser.UserName</p>
                                    <p>@obj.TimeCreated</p>
                                </div>
                            </div>
                            <input asp-for="@obj.Message" readonly="true">
                        </form>
                </div>
            </div>

        }

    </body>
}
